---
import { Image } from 'astro:assets';
import PracticalWisdomLogo from '../assets/logos/practicalWisdomLogo.astro'
import UlitaLogo from '../assets/logos/ulitaLogo.astro'
import PruvodceBroumovemLogo from '../assets/logos/pruvodceBroumovemLogo.astro'


---

<div aria-label="Featured Collaborators" class="flex flex-row flex-shrink flex-nowrap space-x-4 items-center justify-between">
    <PracticalWisdomLogo className='max-h-32' />
    <UlitaLogo className='max-h-32' />
    <PruvodceBroumovemLogo className='max-h-32'  />
</div>

<style>
    .featuredLogo {
        @apply dark:fill-[#e2e9e0] fill-[#303037] transition-all ease-in-out opacity-90;
    };

    .featuredLogo #light {
        @apply dark:fill-[#303037] fill-[#e2e9e0] transition-all ease-in-out;
    };
</style>