---
import { Image } from 'astro:assets';
import practicalWisdomLogo from '../assets/logos/practicalWisdomLogo.png'
---

<div class="">
    <div class="container mx-auto px-4 py-12 sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
            <div class="col-span-1 flex items-center justify-center md:col-span-2 lg:col-span-1">
                <!-- <Image class={"h-sm will-change-auto"} src={practicalWisdomLogo} width={practicalWisdomLogo.width} height={practicalWisdomLogo.height} format="webp" alt={"Practical Wisdom"} />             -->
            </div>
            <div class="col-span-1 flex items-center justify-center md:col-span-2 lg:col-span-1">
                <!-- SVG content -->
            </div>
            <div class="col-span-1 flex items-center justify-center md:col-span-2 lg:col-span-1">
                <!-- SVG content -->
            </div>
        </div>
    </div>
</div>
