---
import { Image } from "astro:assets";
import PracticalWisdomLogo from "../assets/logos/practicalWisdomLogo.astro";
import UlitaLogo from "../assets/logos/ulitaLogo.astro";
import PruvodceBroumovemLogo from "../assets/logos/pruvodceBroumovemLogo.astro";

interface Props {
  className?: string;
  fullDescription?: boolean;
}

const {
  className = "flex flex-row justify-evenly items-center space-x-6 h-full text-left",
  fullDescription = false,
} = Astro.props;
---

<ul aria-label="Featured Collaborators" class={className}>
  <li class="max-w-lg">
    <a href="https://practicalwisdom.uk" target="_blank"
      ><PracticalWisdomLogo className="md:max-h-32 max-h-28 my-4" /></a
    >
    {
      fullDescription ? (
        <div><hr/>
          <h3 class="my-2 xs:my-5 text-md xs:text-lg"><span>Assignment:</span>&nbsp;Website design and development</h3><hr/>
          <p class="text-lg font-mono py-4">{"Practical Wisdom is a coaching non-profit with a big heart and an even bigger mission. I had the privilege of designing and developing their WordPress site, creating an online platform that truly reflects their dedication to changing lives. Behind the scenes, I streamlined their IT workflow, managing systems, email servers, CRM, and marketing. This project was a great opportunity to demonstrate my technical skills while supporting a cause I believe in."}</p>
        </div>
      ) : (
        ""
      )
    }
  </li>
 

  <style>
    .featuredLogo {
      @apply dark:fill-light fill-dark transition-all ease-in-out opacity-90;
    }

    .featuredLogo #light {
      @apply dark:fill-dark fill-light transition-all ease-in-out;
    }
  </style>
</ul>
