--- 
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '@fontsource-variable/eb-garamond';
import '@fontsource/vt323'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html x-cloak x-transition x-data="{darkMode: $persist(false), init: false}" x-init="$nextTick(() => {init = true; })" x-bind:class="{ 'dark': darkMode}" lang="en">
	<BaseHead title={title}/>

	<body x-cloak x-bind:class="{'transition-all duration-500' : init}" class="overflow-hidden flex flex-col flex-nowrap items-center justify-between">
		<Header className=' p-3' />
		<main class="w-full h-fit flex flex-wrap flex-col items-center justify-center p-3">
			<slot />
		</main>
		<Footer className='p-3 flex flex-row flex-none flex-nowrap w-full justify-between items-center' />
			
	</body>

<!-- AlpineJS Plugins -->
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>


<!-- AlpineJS Core -->
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>



</html>
<style is:global>
	/* Font imports */
	@font-face {
    font-family: 'Rockwell';
    src: local('Rockwell Bold Italic'), local('Rockwell-BoldItalic'),
        url('fonts/subset-Rockwell-BoldItalic.woff2') format('woff2'),
        url('fonts/subset-Rockwell-BoldItalic.woff') format('woff'),
        url('fonts/subset-Rockwell-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rockwell';
    src: local('Rockwell-Bold'),
        url('fonts/subset-Rockwell-Bold.woff2') format('woff2'),
        url('fonts/subset-Rockwell-Bold.woff') format('woff'),
        url('fonts/subset-Rockwell-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rockwell';
    src: local('Rockwell'), local('Rockwell-Regular'),
        url('fonts/subset-Rockwell-Regular.woff2') format('woff2'),
        url('fonts/subset-Rockwell-Regular.woff') format('woff'),
        url('fonts/subset-Rockwell-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rockwell';
    src: local('Rockwell Italic'), local('Rockwell-Italic'),
        url('fonts/subset-Rockwell-Italic.woff2') format('woff2'),
        url('fonts/subset-Rockwell-Italic.woff') format('woff'),
        url('fonts/subset-Rockwell-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


	:root {
		--text-primary: ;
		@apply text-base;
	}

	

	html {
		width: 100vw;
		height: 100vh;
		
	}
	
	h1, h2, h3 {
		@apply font-serif;
	}
	
	h4, h5, h6 {
		@apply font-sans;
	}

	body {
		background: url("../assets/bg/bgDoodles.svg") no-repeat center/cover fixed;
		background-blend-mode: overlay;
		@apply min-w-full min-h-full font-sans text-base  bg-[#e2e9e0] dark:bg-[#303037] text-[#303037] dark:text-[#e2e9e0];
	}
	
	/* .fullScreenModal {
		background: url("../assets/bg/bgDoodles.svg") no-repeat center/cover fixed;
		background-blend-mode: exclusion;
	} */

	#monogram #lbracket, #monogram #rbracket, #monogram #M {
		@apply fill-[#303037] dark:fill-[#e2e9e0]
	}
	
	code {
		font-family: 'VT323', monospace;
	}
</style>
